<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="datos" method="post">
        <label for="usuairo">Usuario</label>
        <input type="text" name="usuario" id="usuario" placeholder="usuario"> <br>
        <label for="correo">Correo</label>
        <input type="text" name="correo" id="correo" placeholder="correo electronico">

        <button type="submit">Enviar</button>
    </form>
</body>
</html>